$mushroom: #A29A91;
$mushroomShadow: #4A3728;

@mixin full-viewport {
    width: 100vw;
    height: 100vh;
    overflow: auto;
}
@mixin album-box {
    width: 810px;
    height: 500px;
    margin: auto;
}
@mixin contents-txt {
    display: block;
    font-size: 15px;
    font-family: 'Sunflower', sans-serif;
    &:hover {
        font-size: 25px;
    }
}

body { margin: 0; }

.dark {   
    @include full-viewport;
    background-color: rgb(24, 22, 17);
    
    .albumBox {
        @include album-box; 
        .leftBox {
            display: inline-block;
            background-color: $mushroom;
            width: 405px;   
            height: 500px; 
            text-align: center;
            box-shadow: -5px 15px 28px 0px $mushroomShadow;
            
            img {
                border-radius: 5px;
                margin: 5px;
            }
            .contents {
                @include contents-txt;
                &:hover {
                    color: #d8db31;
                } 
            }
        }
        .rightBox { 
            display: inline-block;
            background-color: $mushroom;
            width: 405px;
            height: 500px;
            text-align: center;
            box-shadow: 0px 0px 25px 0px $mushroomShadow;
            position: absolute;
            img {
                border-radius: 5px;
                margin: 5px;
            }
        }
    }
}

.light {
    @include full-viewport;
    background-color: #FAFAFA;
    
    .albumBox {
        @include album-box;
        .leftBox {
            display: inline-block;
            background-color: #EBEDEC;
            width: 405px;   
            height: 500px; 
            text-align: center;
            box-shadow: -7px 10px 25px -10px #adadad;
            img {
                border-radius: 5px;
                margin: 5px;
            }
            .contents {
                @include contents-txt;
                &:hover {
                    color: rgb(117, 128, 0);
                } 
            }
        }
        .rightBox { 
            display: inline-block;
            background-color: #EBEDEC;
            width: 405px;
            height: 500px;
            text-align: center;
            box-shadow: -8px 0px 30px 2px #bebebe;
            position: absolute;
            img {
                border-radius: 5px;
                margin: 5px;
            }
        }
    }
} 

/* 다크모드와 라이트모드의 교집합 */
button { cursor: pointer; }

.icon {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.exit { // 로그아웃 버튼
    width: 90px;
    height: 40px;
    font-size: 12px;
    border: 1px solid gray;
    border-radius: 50px;   
    float: right;
    margin-top: 10px;
    opacity: 0.75;
    &:hover {
        background-color: #d8db31;
    }
    &.hide {
        display: none;
    }
}

.crsl { // 캐로셀
    width: 960px;
    height: 550px;
    top: 10%;
    margin: 0 auto;
}

.entrance { // 펼쳐보기 버튼 
    display: block;
    width: 25%;
    text-decoration: none;
    line-height: 40px;
    color: #000;
    font-size: 13px;
    font-weight: 500;
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    &:after {
        position: absolute;
        content: "";
        width: 0;
        height: 100%;
        top: 2px;
        left: 0;
        direction: rtl;
        z-index: -1;
        box-shadow:
            -7px -7px 20px 0px #fff9,
            -4px -4px 35px 0px #fff9,
            5px 5px 15px 5px #0002,
            4px 4px 8px 0px #0002;
        transition: all 0.3s ease;
    }
    &:hover {
        background-color: #c6ccff;
        border: none;
        box-shadow: 2px 2px 0px 0px rgb(125, 124, 124);
        &:after {
            left: auto;
            right: 0;
            width: 100%;
        }
    }
}

/** 
    Animation - Vendor prefixes 
    -ms-: Microsoft Edge
    -webkit-: Chrome, Safari
    -moz-: Firefox
    -o-: Opera
**/
@mixin rotate-zero {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg); 
    -webkit-transform: rotate(0deg); 
    -o-transform: rotate(0deg); 
    -moz-transform: rotate(0deg);
}
@mixin rotate-full {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg); 
    -webkit-transform: rotate(360deg); 
    -o-transform: rotate(360deg); 
    -moz-transform: rotate(360deg);
}

@keyframes rotate-loading {
    0%  { @include rotate-zero; }
    100% { @include rotate-full; }
}
@-moz-keyframes rotate-loading {
    0%  { @include rotate-zero; }
    100% { @include rotate-full; }
}
@-webkit-keyframes rotate-loading {
    0%  { @include rotate-zero; }
    100% { @include rotate-full; }
}
@-o-keyframes rotate-loading {
    0%  { @include rotate-zero; }
    100% { @include rotate-full; }
}

@keyframes loading-text-opacity {
    0%  {opacity: 0}
    20% {opacity: 0}
    50% {opacity: 1}
    100% {opacity: 0}
}

@-moz-keyframes loading-text-opacity {
    0%  {opacity: 0}
    20% {opacity: 0}
    50% {opacity: 1}
    100% {opacity: 0}
}

@-webkit-keyframes loading-text-opacity {
    0%  {opacity: 0}
    20% {opacity: 0}
    50% {opacity: 1}
    100% {opacity: 0}
}

@-o-keyframes loading-text-opacity {
    0%  {opacity: 0}
    20% {opacity: 0}
    50% {opacity: 1}
    100% {opacity: 0}
}

/* 로딩 사이클 */
.loading-container { 
    .loading {
        height: 100px;
        width: 100px;
        border-radius: 100%;
        border: 2px solid transparent;
        border-color: transparent rgb(144, 144, 144) transparent rgb(229, 229, 229);

        -moz-animation: rotate-loading 1.5s linear 0s infinite normal;
        -o-animation: rotate-loading 1.5s linear 0s infinite normal;
        -webkit-animation: rotate-loading 1.5s linear 0s infinite normal;
        animation: rotate-loading 1.5s linear 0s infinite normal;       

        /* 로딩 사이클 세팅: 중앙 */
        -moz-transform-origin: 50% 50%;
        -o-transform-origin: 50% 50%;
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%; 

        /* 부드럽게 변화: ease-in-out(천천-보통-천천) */
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        &:hover {
            border-color: transparent #E45635 transparent #E45635;
        }
    }
    .loading-text {
        width: 100px;
        height: 100%;
        color: #ffffff;
        text-shadow: 2.5px 2.5px 1px rgb(95, 95, 95);
        font-family: "Helvetica Neue, "Helvetica", ""arial";
        font-size: 10px;
        font-weight: bold;
        opacity: 0;
        text-align: center;
        text-transform: uppercase;
        margin-top: -60px;

        -moz-animation: loading-text-opacity 1.3s linear 0s infinite normal;
        -o-animation: loading-text-opacity 1.3s linear 0s infinite normal;
        -webkit-animation: loading-text-opacity 1.3s linear 0s infinite normal;
        animation: loading-text-opacity 1.3s linear 0s infinite normal;
    }
}

/** 서버가 꺼져있을 때 **/
.notServer {
    display: block;
    background-color: #0002;
    color: red;
    height: 60px;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}