.container {
    background-color: #FAFAFA;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    .navibar {
        width: 100%;
        height: 60px;
        background-color: #A29A91;
        box-shadow: 0 3px 3px rgba(0,0,0,0.2);
        position: fixed;
        z-index: 3;
        h1 {
            font-family: 'Sunflower', sans-serif;
            font-size: 25px;
            font-weight: lighter;
            color: beige;
            text-align: center;
            text-shadow: 1.7px 1.7px 1.7px rgb(173, 164, 25);
            margin-left: 3%;
        }
        .logoutBtn {
            width: 90px;
            height: 40px;
            font-size: 12px;
            border: 1px solid gray;
            border-radius: 50px;   
            float: right;
            margin-top: -54px;
            margin-right: 3%;
            opacity: 0.75;
            &:hover {
                background-color: #d8db31;
            }
            &.hide {
                display: none;
            }
        }
    }
    
    .sidebar {
        display: inline-block; 
        background-color: #ededed;
        width: 200px;
        height: 100%;
        border: 1px solid rgb(187, 187, 187);
        left: 0px;
        margin-top: 60px;
        margin-right: 3%;
        position: fixed;
        z-index: 0;
        overflow-y: auto;
        ul {
            width: 100%;
            margin-top: 30px;
            margin-left: -40px;
            list-style-type: none;
            .bgColor {
                background-color: #c9c5c0;
            }
            li {
                height: 40px;
                border-radius: 5px;
                line-height: 40px;
                margin-top: 10px;
                margin-left: 20px;
                margin-right: 20px;
                img {
                    width: 15px;
                    margin-right: 10px;
                }
                button {
                    font-size: 16px;
                    border: none;
                }
            }
        }
    }
}

.fadeIn {
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}