.center {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.clickPASSWORD {
    display: block;
    margin-top: 30px;
}

span {
    font-size: 60px;
    font-family: 'Sunflower', sans-serif;
}

span:hover {
    color:rgb(123, 168, 40);
}

li {
    color: black;
    font-weight: lighter;
    font-size: 30px;
    list-style: none;
    margin-top: 20px;
    margin-bottom: 30px;
}

.back {
    width: 18%;
    height: 35px;
    margin-top: 10%;
    border: 1px solid gray;
    border-radius: 15px;   
    opacity: 0.85;
} .back:hover {
    background-color: #d8db31;
}