.pagination {
    width: 100%;
    height: 40px;
    font-size: 15px;
    text-align: center;
    line-height: 25px;
    border-top: 1px solid #e5e5e5;
    padding: 8px 0;
    margin-top: -4px;
    margin-left: 100px;
    li {
        display: inline; 
        a { 
            // font-size: 15px;
            color: #9398a0;
            text-decoration: none;
            padding: 13px; 
        }
        &:first-child, &:nth-child(2), &:nth-last-child(2), &:last-child {
            font-size: 20px;
        }
    }
}