.full_image {
    background-color: rgb(24, 22, 17);
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    .backBtn {
        background-color: #A29A91;
        width: 40px;
        height: 40px;
        color: white;
        font-size: 30px;
        border: none;
        border-radius: 5px;
        padding: 0px 5px;
        margin-top: 10px;
        margin-left: 10px;
        z-index: 2;
        position: absolute;
        cursor: pointer;
        &:hover {
            background-color: rgb(99, 99, 99);
        }
    }
    .back {
        color: white;
        font-size: 15px;
        margin-top: 30px;
        margin-left: 14px;
        z-index: 2;
        position: absolute;
    }
    .downloadBtn {
        background-color: #FE56CB;
        width: 40px;
        height: 40px;
        font-size: 8.6px;
        border: none;
        border-radius: 5px;
        float: right;
        cursor: pointer;
        margin-top: -10px;
        margin-right: 10px; 
        &:hover {
            background-color: rgb(24, 22, 17);
        }
    }
    
    .carousel {
        width: 90%;
        margin: 0 auto;
        margin-top: -10px;
        button {    
            opacity: 1;
        }
        .location-image {
            text-align: center;
            img {
                width: auto;
                height: 520px;   
            }
        }
    }
}